// heander
$app-header-height: 48px;
$app-header-font-color: #fff;
$app-header-common-font-size: 22px;

// main
$app-body-background-color: #f9fafc;
$app-body-content-background-color: #fff;

// nav
$app-nav-width: 210px;

// color
$dark-background-color: #555;
